#routesRow {
  height: 30vh;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
  transform: scale(1.01);
}

.card {
  height: 30vh;
  transition: all 0.1s;
}

.card-body {
  align-items: center;
  background-image: url("../../images/map.jpg");
  transition: all 0.1s;
}
