.card {
  position: relative;
  height: 100%;
}

.card-body:hover {
  cursor: pointer;
  transform: scale(1.01);
}

.card-body {
  background-image: url("../../images/map.jpg");
  transition: all 0.1s;
}
